/*-- scss:defaults --*/
/*-- https://tech.popdata.org/pma-data-hub/posts/2022-07-01-ined-revealjs/ --*/

/*--
$font-family-sans-serif: cabrito_sans_norm_regular;
$presentation-heading-font: cabrito_sans_norm_regular;
$presentation-heading-color:  #00263A;
$presentation-heading-text-transform: uppercase;
$presentation-heading-font-weight: 500;
$link-color: #98579B;
$presentation-title-slide-text-align: left;
$code-block-font-size:  0.6em;
--*/
$code-block-font-size:  0.8em;
$presentation-font-smaller: .85;
